body {
  background-color: black;
  color: #FFA700;
}
a, a :visited{
  color: #FFA700;
}
a:hover{
    color: #ff6200;
}
input[type=button]{
	background: #0e0e0e;
	border:1px solid #FFA700;
	cursor:pointer;
	border-radius:5px;
	color:#FFA700;
}
.confirmation_box{
	border:2px solid #FFA700;
	background-color:#0e0e0e;
}
.top_panel{
	background-color:#000;
}
input[type=text]{
	border:1px solid #FFA700;
	border-radius: 5px;
    background: #0e0e0e;
    color: #FFA700;
}
.main_container{
    background-color: #131916;
}
.trigger_container{
    background-color:  #131916;
}
.dropdown:hover .dropbtn {background-color: #ffa700; color:black;}
.dropdown-content a:hover {background-color: #ffa700; color:black;}
.dropdown-content{border: 1px solid #ffa700;}
input[type=file]{
    background: #131916;
    color:#FFA700;
}
input[type=submit]{
    background: #0e0e0e;
    color:#FFA700;
}
input[type=number]{
    background: #0e0e0e;
    color:#FFA700;
}
input[type=password]{
    background: #0e0e0e;
    color:#FFA700;
}
.section{
    border-color:#FFA700;
}
select{
    background: #0e0e0e;
    color:#FFA700;
}