body {
  background-color: black;
  color: #FFA700;
}
a, a :visited{
  color: #FFA700;
}
a:hover{
    color: #ff6200;
}
input[type=button]{
	background-color:black;
	border:1px solid #FFA700;
	cursor:pointer;
	border-radius:5px;
	color:#FFA700;
}
.confirmation_box{
	border:2px solid #FFA700;
}
input[type=text]{
	border:1px solid #FFA700;
	border-radius: 5px;
}
