body {
  background-color: black;
  color: #FFA700;
}
a, a :visited{
  color: #FFA700;
}
a:hover{
    color: #ff6200;
}
.main_container{
    background-color: #131916;
}
.trigger_container{
    background-color:  #131916;
}