/* please support Socket Controller development - socketcontroller.com */
body {
  background-color: #b7b7b7;

background-image:  linear-gradient(30deg, #91ffb4 12%, transparent 12.5%, transparent 87%, #91ffb4 87.5%, #91ffb4), linear-gradient(150deg, #91ffb4 12%, transparent 12.5%, transparent 87%, #91ffb4 87.5%, #91ffb4), linear-gradient(30deg, #91ffb4 12%, transparent 12.5%, transparent 87%, #91ffb4 87.5%, #91ffb4), linear-gradient(150deg, #91ffb4 12%, transparent 12.5%, transparent 87%, #91ffb4 87.5%, #91ffb4), linear-gradient(60deg, #91ffb477 25%, transparent 25.5%, transparent 75%, #91ffb477 75%, #91ffb477), linear-gradient(60deg, #91ffb477 25%, transparent 25.5%, transparent 75%, #91ffb477 75%, #91ffb477);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;



  color: black;
}
a, a :visited{
  color: black;
}
a:hover{
    color: #00cc08;
}
input[type=button]{
	background-color:#ffffff8f;
	border:1px solid;
	border-radius: 5px;
	cursor:pointer;
	color:black;
}
.confirmation_box {
	border:2px solid red;
	background-color: #ffffff8f;
}
.widget_holder {
    border: 1px solid #85fff4;
    box-shadow: 0px 0px 10px -1px #feffb8;
    background-color: #ffffff8f;
    background: linear-gradient(to bottom right, #b9f8ff91, #4babff75);
}
input[type=text]{
	border:1px solid;
	border-radius: 5px;
}
input[type=number]{
	border:1px solid;
	border-radius: 5px;
}
input[type=password]{
	border:1px solid;
	border-radius: 5px;
}
.main_container{
    background-color: #f0f8ffa1;
}
.trigger_container{
    background-color:  aliceblue;
} 
.dropdown:hover .dropbtn {background-color: #000000c7; color:white;}
.dropdown-content a:hover {background-color: white; color:black;}
.dropdown-content{border: 1px solid black;}

.slider {background-color: #ff2424;}
.slider:before {background-color: #fff;}
input:checked + .slider { background-color: #22ad1f;}

.sliding_range {
    background: #a7a7a7;
}

.slider2{
    background-color: #5becff;
}

.sliding_range::-webkit-slider-thumb {
    background: #1ad820;
}
.sliding_range::-moz-range-thumb {
    background: #1ad820;
}

.top_panel { background-color: #ffffff80; }
/* please support Socket Controller development - socketcontroller.com */