body{
    background-color: black;
    color: rgb(255, 167, 0);
    font-family: monospace, sans-serif;
}
a{
    color: rgb(255, 167, 0);
}
.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: 20px;
}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
.demoFont {
    font-family: "Arial Black", sans-serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}
.Graph{
    width:72%;
    margin: auto;
    float: left;
}
.column {
    float: left;
    width: 14%;
    padding-top: 150px;
}
.row:after {
	content: "";
    display: table;
    clear: both;
}
.checkbox1{
	text-align:center;
}